@import url('@unocss/reset/tailwind.css');

body {
  height: 100vh;

  overflow: hidden;
  font-family: NaturalMono !important;
}

*::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'NaturalMono';
  src: url('/fonts/NaturalMono.ttf') format('truetype');
}

/* override arco ui */
div.arco-popover-content {
  padding: 8px;
}
